In [4]:
import pandas as pd

In [6]:
#import diabetes data
diabetes_data = pd.read_csv("pima-indians-diabetes.data",header = None)

In [7]:
#view 1srt 5 observations
diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [8]:
#get names for setting the column from names
feature_names = ['Pregnant','glucose ','bp','skin','insulin','bmi','pedigree','age','label']

In [9]:
#fix the dataset with column name
new_dataset = pd.read_csv("pima-indians-diabetes.data",header = None,names = feature_names)

In [10]:
#view 1st 5 observations
new_dataset.head()

   Pregnant  glucose   bp  skin  insulin   bmi  pedigree  age  label
0         6       148  72    35        0  33.6     0.627   50      1
1         1        85  66    29        0  26.6     0.351   31      0
2         8       183  64     0        0  23.3     0.672   32      1
3         1        89  66    23       94  28.1     0.167   21      0
4         0       137  40    35      168  43.1     2.288   33      1

In [11]:
#view dataset shape
new_dataset.shape

(768, 9)

In [12]:
#select features for model building
feature_sel_col =  ['Pregnant','insulin','bmi','age']

#create feature object
X_feature =new_dataset[feature_sel_col]

#create response obj
Y_target = new_dataset['label']

In [13]:
#view shape of feature object
X_feature.shape

(768, 4)

In [14]:
#view shape of target
Y_target.shape

(768,)

In [19]:
#split training and testing data
#By dafault testing and training data split 25% and 75%
from sklearn.model_selection  import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state = 1)

In [22]:
# train logistic regression model in training set
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
#prediction for testing set
y_pred = log.predict(x_test)

In [24]:
#check accuracy
from sklearn import metrics
print (metrics.accuracy_score(y_test,y_pred))

0.6927083333333334

In [26]:
#print first 30 predicted and actual responses
print ('Actual: ',y_test.values[0:30])
print ('Predicted: ',y_pred[0:30])

Actual:  [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
Predicted:  [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]